body {
  font-family: 'Roboto', sans-serif;
  background-color: #e9ecef;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header {
  background-color: #007bff;
  color: white;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header h1 a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.header h1 a:hover,
.header h1 a:focus,
.header h1 a:active {
  color: white;
  text-decoration: none;
}


.nav-links {
  list-style: none;
  display: flex;
  padding: 0;
}

.nav-links li {
  padding: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.applications-box {
  background-color: white;
  border-radius: 8px;
  padding: 40px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: #007bff;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.btn-primary {
  background-color: #5cb85c;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #449d44;
}